Repository block-wallet/extension, pull requests merged in 2022-12, with the labels that each got.

#240 [Fix] Show original text in the SignPage
  packages/background/src/controllers/BlankProviderController.ts
  packages/background/src/utils/signature.ts
  packages/background/src/utils/types/ethereum.ts
  packages/ui/src/components/ui/CodeBlock.tsx
  packages/ui/src/routes/dApp/SignPage.tsx
Labels: bug, enhancement

#244 [Fix] Add to contacts if in my accounts
  packages/ui/src/routes/send/SendPage.tsx
Labels: bug, ui

#249 [Feat] Button on error page to report bug
  packages/ui/src/components/error/ErrorFallbackPage.tsx
  packages/ui/src/util/constants.ts
Labels: enhancement, ui

#246 [Fix] Enable submit button on Seed Import/New account
  packages/ui/src/components/setup/SeedImport.tsx
  packages/ui/src/routes/setup/PasswordSetupPage.tsx
Labels: ui

#245 [Fix] Add token logo
  packages/background/src/controllers/erc-20/TokenController.ts
  packages/ui/src/components/input/NetworkSelect.tsx
  packages/ui/src/components/loading/TransparentOverlay.tsx
  packages/ui/src/components/token/AddTokenManualView.tsx
  packages/ui/src/routes/PopupPage.tsx
  packages/ui/src/routes/settings/AddTokensPage.tsx
  packages/ui/src/util/__tests__/account.test.ts
  packages/ui/src/util/account.ts
Labels: enhancement, background, ui

#263 [Feat] Uninstall Form
  packages/background/src/index.ts
Labels: enhancement

#228 [Feat] Switch network from networks page
  packages/ui/src/assets/images/icons/accounts.svg
  packages/ui/src/components/icons/CheckmarkIcon.tsx
  packages/ui/src/components/icons/SwitchIcon.tsx
  packages/ui/src/components/networks/NetworkDisplay.tsx
  packages/ui/src/components/ui/Icon.tsx
Labels: enhancement, ui

#226 [Fix] Network name switch page
  packages/ui/src/components/chain/NetworkDisplayBadge.tsx
  packages/ui/src/components/input/NetworkSelect.tsx
  packages/ui/src/routes/dApp/SwitchEthereumChain.tsx
  packages/ui/src/routes/networks/NetworksPage.tsx
  packages/ui/src/util/getExplorer.ts
  packages/ui/src/util/getNetworkColor.ts
Labels: ui

#242 [Fix] Custom token refetch & allow token with same symbol
  packages/background/src/controllers/erc-20/TokenController.ts
  packages/background/src/controllers/erc-20/transactions/Transaction.ts
  packages/ui/src/components/assets/AssetDetailsPage.tsx
  packages/ui/src/components/icons/SwitchIcon.tsx
  packages/ui/src/components/token/AddTokenManualView.tsx
  packages/ui/src/components/token/TokenSummary.tsx
  packages/ui/src/routes/PopupPage.tsx
  packages/ui/src/routes/settings/AddTokensPage.tsx
  packages/ui/src/util/hooks/useTokenTransactions.ts
  packages/ui/src/util/hooks/useTransactions.ts
Labels: bug, background, ui

#269 [Fix] dApp Aprove page balance/logos
  packages/ui/src/routes/dApp/ApproveAsset.tsx
Labels: ui

#271 [Automated] Extension release v0.5.1
  package.json
  public/manifest.json
  release-notes.json
Labels: automated, release

#275 [Fix] Error handling on exchangeRates
  packages/background/src/controllers/ExchangeRatesController.ts
  packages/ui/src/routes/PopupPage.tsx
Labels: bug, background

#282 [Automated] Extension release v0.5.2
  package.json
  public/manifest.json
  release-notes.json
Labels: automated, release

#285 [Automated] Extension release v0.5.2
  package.json
  public/manifest.json
  release-notes.json
Labels: automated, release

#297 [Automated] Extension release v0.5.3
  package.json
  public/manifest.json
  release-notes.json
Labels: automated, release

#307 [Feat] Download State & Reset Account
  packages/background/src/controllers/AccountTrackerController.ts
  packages/background/src/controllers/BlankController.ts
  packages/background/src/controllers/BridgeController.ts
  packages/background/src/controllers/NetworkController.ts
  packages/background/src/controllers/PermissionsController.ts
  packages/background/src/controllers/TransactionWatcherController.ts
  packages/background/src/controllers/erc-20/TokenController.ts
  packages/background/src/controllers/transactions/TransactionController.ts
  packages/background/src/infrastructure/stores/migrator/migrations/migration-55.ts
  packages/background/src/utils/ethereumChain.ts
  packages/background/src/utils/types/communication.ts
  packages/background/test/controllers/PermissionsController.test.ts
  packages/background/test/controllers/transactions/TransactionController.test.ts
  packages/ui/src/assets/images/icons/reset.svg
  packages/ui/src/components/account/AccountMenu.tsx
  packages/ui/src/components/error/ErrorFallbackPage.tsx
  packages/ui/src/context/commActions.ts
  packages/ui/src/context/commTypes.ts
  packages/ui/src/router/routes.ts
  packages/ui/src/routes/account/ResetAccountPage.tsx
  packages/ui/src/routes/settings/AboutPage.tsx
  packages/ui/src/util/constants.ts
  packages/ui/src/util/hooks/useStateLogs.ts
Labels: enhancement, background, ui
