Repository block-wallet/extension, pull requests merged in 2023-03, with the labels that each got.

#360 [Feat] Improve browser notifications
  packages/background/package.json
  packages/background/src/controllers/PreferencesController.ts
  packages/background/src/controllers/TransactionWatcherController.ts
  packages/background/src/controllers/transactions/TransactionController.ts
  packages/background/src/infrastructure/stores/migrator/migrations/index.ts
  packages/background/src/infrastructure/stores/migrator/migrations/migration-61.ts
  packages/background/src/utils/constants/initialState.ts
  packages/background/src/utils/notifications.ts
  packages/background/src/utils/token.ts
  packages/background/test/infrastructure/stores/migrator/reconciler.test.ts
  packages/background/test/mocks/mock-preferences.ts
  packages/background/test/utils/userPreferences.test.ts
  packages/ui/src/mock/MockBackgroundState.tsx
  packages/ui/src/router/routes.ts
  packages/ui/src/routes/preferences/NotificationsAndWarningsPage.tsx
  packages/ui/src/routes/settings/PreferencesPage.tsx
Labels: enhancement, background

#376 [Fix] Add unknown received token in testnets
  packages/background/src/controllers/AccountTrackerController.ts
Labels: bug, background

#387 [Automated] Extension release v0.7.0
  package.json
  public/manifest.json
  release-notes.json
Labels: automated, release

#392 [Fix] Allowance page stuck + decimals UI fix
  packages/ui/src/components/allowances/AllowanceItem.tsx
  packages/ui/src/components/transactions/AllowanceInput.tsx
  packages/ui/src/routes/dApp/ApproveAsset.tsx
  packages/ui/src/routes/dApp/ApproveNFT.tsx
  packages/ui/src/routes/transaction/ApprovePage.tsx
Labels: bug, ui

#416 [Automated] Extension release v0.7.2
  package.json
  public/manifest.json
  release-notes.json
Labels: automated, release
