Repository block-wallet/extension, pull requests merged in 2023-04, with the labels that each got.

#418 [Chore] Mainnet intervals
  packages/background/package.json
  packages/background/src/infrastructure/stores/migrator/migrations/index.ts
  packages/background/src/infrastructure/stores/migrator/migrations/migration-65.ts
  packages/background/src/utils/constants/networks.ts
Labels: enhancement, background

#429 [Automated] Extension release v0.7.3
  package.json
  public/manifest.json
  release-notes.json
Labels: automated, release

#446 [Fix] Replace react-json-view
  packages/ui/package.json
  packages/ui/src/routes/dApp/SignPage.tsx
  packages/ui/src/routes/settings/ExportDonePage.tsx
  packages/ui/src/styles/index.css
  packages/ui/yarn.lock
Labels: bug, ui

#420 Feat/keyboard navigation
  packages/background/src/controllers/BlankController.ts
  packages/background/src/controllers/PreferencesController.ts
  packages/background/src/utils/constants/initialState.ts
  packages/background/src/utils/types/communication.ts
  packages/background/test/infrastructure/stores/migrator/reconciler.test.ts
  packages/background/test/mocks/mock-preferences.ts
  packages/ui/package.json
  packages/ui/src/assets/images/icons/hotkeys.svg
  packages/ui/src/components/ActivityAssetsView.tsx
  packages/ui/src/components/CollapsableMessage.tsx
  packages/ui/src/components/CollapsableWarning.tsx
  packages/ui/src/components/account/AccountMenu.tsx
  packages/ui/src/components/addressBook/AddressDisplay.tsx
  packages/ui/src/components/dialog/ConfirmDialog.tsx
  packages/ui/src/components/dialog/HotkeysDialog.tsx
  packages/ui/src/components/dialog/MessageDialog.tsx
  packages/ui/src/components/gas/GasPricesInfo.tsx
  packages/ui/src/components/hotkeys/DisplayHotkey.tsx
  packages/ui/src/components/hotkeys/HotkeysCollapsedMessage.tsx
  packages/ui/src/components/info/WelcomeInfo.tsx
  packages/ui/src/components/popup/PopupHeader.tsx
  packages/ui/src/components/popup/PopupLayout.tsx
  packages/ui/src/context/commActions.ts
  packages/ui/src/context/commTypes.ts
  packages/ui/src/context/util/platform.ts
  packages/ui/src/mock/MockBackgroundState.tsx
  packages/ui/src/router/routes.ts
  packages/ui/src/routes/PopupPage.tsx
  packages/ui/src/routes/account/AllowancesPage.tsx
  packages/ui/src/routes/account/CreateAccountPage.tsx
  packages/ui/src/routes/bridge/BridgeConfirmPage.tsx
  packages/ui/src/routes/connect/ConnectPage.tsx
  packages/ui/src/routes/networks/NetworkFormPage.tsx
  packages/ui/src/routes/networks/SearchNetworkPage.tsx
  packages/ui/src/routes/preferences/DefaultGasPreferencesPage.tsx
  packages/ui/src/routes/preferences/DefaultWalletPreferencesPage.tsx
  packages/ui/src/routes/preferences/LocalePreferencesPage.tsx
  packages/ui/src/routes/preferences/NotificationsAndWarningsPage.tsx
  packages/ui/src/routes/preferences/PhishingProtectionPreferencesPage.tsx
  packages/ui/src/routes/preferences/ReleaseNotesPreferencesPage.tsx
  packages/ui/src/routes/send/SendPage.tsx
  packages/ui/src/routes/settings/AddContactPage.tsx
  packages/ui/src/routes/settings/Hotkeys.tsx
  packages/ui/src/routes/settings/LockTimeout.tsx
  packages/ui/src/routes/settings/PreferencesPage.tsx
  packages/ui/src/routes/settings/SettingsPage.tsx
  packages/ui/src/routes/swap/SwapPage.tsx
  packages/ui/src/util/hooks/useHotKey.ts
  packages/ui/src/util/hotkeys.ts
  packages/ui/yarn.lock
  public/manifest.json
Labels: ui

#444 [Fix] Not enough funds validation in cancel
  packages/ui/src/components/CancelSpeedUpCommon.tsx
Labels: bug, ui

#455 [Fix] EIP-1559 params on Legacy Transactions
  packages/background/src/controllers/transactions/TransactionController.ts
  packages/background/test/controllers/transactions/TransactionController.test.ts
Labels: bug, background

#424 [Feat] Improve provider down status + switch to backup option
  packages/background/package.json
  packages/background/src/controllers/BlankController.ts
  packages/background/src/controllers/BlankProviderController.ts
  packages/background/src/controllers/NetworkController.ts
  packages/background/src/controllers/UDController.ts
  packages/background/src/infrastructure/stores/migrator/migrations/index.ts
  packages/background/src/infrastructure/stores/migrator/migrations/migration-62.ts
  packages/background/src/infrastructure/stores/migrator/migrations/migration-64.ts
  packages/background/src/infrastructure/stores/migrator/migrations/migration-67.ts
  packages/background/src/utils/constants/initialState.ts
  packages/background/src/utils/constants/networks.ts
  packages/background/src/utils/ethereumChain.ts
  packages/background/src/utils/types/communication.ts
  packages/background/test/infrastructure/stores/migrator/reconciler.test.ts
  packages/background/test/mocks/mock-network-instance.ts
  packages/background/yarn.lock
  packages/ui/src/assets/images/icons/switch.svg
  packages/ui/src/components/assets/AssetDetailsPage.tsx
  packages/ui/src/components/chain/ProviderStatus.tsx
  packages/ui/src/components/dialog/ProviderDownDialog.tsx
  packages/ui/src/components/icons/SwitchIcon.tsx
  packages/ui/src/components/popup/PopupLayout.tsx
  packages/ui/src/context/commActions.ts
  packages/ui/src/context/commTypes.ts
  packages/ui/src/mock/MockBackgroundState.tsx
  packages/ui/src/router/PopupRouter.tsx
  packages/ui/src/routes/PopupPage.tsx
  packages/ui/src/routes/ReceivePage.tsx
  packages/ui/src/routes/account/AllowancesPage.tsx
  packages/ui/src/routes/bridge/BridgeConfirmPage.tsx
  packages/ui/src/routes/bridge/BridgeSetupPage.tsx
  packages/ui/src/routes/dApp/ApproveAsset.tsx
  packages/ui/src/routes/networks/NetworkDetailsPage.tsx
  packages/ui/src/routes/networks/NetworkFormPage.tsx
  packages/ui/src/routes/send/SendConfirmPage.tsx
  packages/ui/src/routes/send/SendPage.tsx
  packages/ui/src/routes/settings/AddTokensConfirmPage.tsx
  packages/ui/src/routes/settings/AddTokensPage.tsx
  packages/ui/src/routes/swap/SwapConfirmPage.tsx
  packages/ui/src/routes/swap/SwapPage.tsx
  packages/ui/src/routes/transaction/ApprovePage.tsx
Labels: enhancement, background, ui

#449 [Refractor] Change notifications to controller class
  packages/background/src/controllers/AccountTrackerController.ts
  packages/background/src/controllers/AddressBookController.ts
  packages/background/src/controllers/BlankController.ts
  packages/background/src/controllers/NotificationController.ts
  packages/background/src/controllers/TransactionWatcherController.ts
  packages/background/src/controllers/transactions/TransactionController.ts
  packages/background/src/utils/account.ts
  packages/background/src/utils/notifications.ts
Labels: background

#439 [Feat] Send to smart contract warning
  packages/background/src/controllers/BlankController.ts
  packages/background/src/utils/types/communication.ts
  packages/ui/src/components/addressBook/AddressDisplay.tsx
  packages/ui/src/context/commActions.ts
  packages/ui/src/context/commTypes.ts
Labels: enhancement, background, ui
