Repository block-wallet/extension, pull requests merged in 2023-02, with the labels that each got.

#343 [Automated] Extension release v0.5.6
  package.json
  public/manifest.json
  release-notes.json
Labels: automated, release

#347 [Feat] Add Verse token to eth
  packages/background/package.json
  packages/background/yarn.lock
Labels: enhancement

#352 [Automated] Extension release v0.5.7
  package.json
  public/manifest.json
  release-notes.json
Labels: automated, release

#355 [Automated] Extension release v0.6.0
  package.json
  public/manifest.json
  release-notes.json
Labels: automated, release

#357 [Fix] Account hide option with external keys + long account names
  packages/background/src/controllers/AccountTrackerController.ts
  packages/ui/src/components/account/AccountDisplay.tsx
  packages/ui/src/components/account/AccountSelect.tsx
  packages/ui/src/routes/PopupPage.tsx
  packages/ui/src/routes/UnlockPage.tsx
Labels: bug
