Repository block-wallet/extension, pull requests merged in 2023-06, with the labels that each got.

#498 [Automated] Extension release v1.1.1
  package.json
  public/manifest.json
  release-notes.json
Labels: automated, release

#507 [Automated] Extension release v1.1.2
  package.json
  public/manifest.json
  release-notes.json
Labels: automated, release

#509 [Fix] Value parameter on Allowance transactions
  packages/background/src/controllers/transactions/TransactionController.ts
Labels: bug

#512 [Automated] Extension release v1.1.3
  package.json
  public/manifest.json
  release-notes.json
Labels: automated, release

#515 [Feat] Switch Net Worth <> Native Token
  packages/background/package.json
  packages/background/src/controllers/PreferencesController.ts
  packages/background/src/infrastructure/stores/migrator/migrations/index.ts
  packages/background/src/infrastructure/stores/migrator/migrations/migration-68.ts
  packages/background/src/utils/constants/initialState.ts
  packages/background/test/infrastructure/stores/migrator/reconciler.test.ts
  packages/background/test/mocks/mock-preferences.ts
  packages/background/test/utils/userPreferences.test.ts
  packages/ui/package.json
  packages/ui/src/components/account/AccountDisplay.tsx
  packages/ui/src/context/hooks/useNetWorthBalance.ts
  packages/ui/src/mock/MockBackgroundState.tsx
  packages/ui/src/routes/PopupPage.tsx
  packages/ui/yarn.lock
Labels: enhancement

#520 [Automated] Extension release v1.1.4
  package.json
  public/manifest.json
  release-notes.json
Labels: automated, release
