Repository block-wallet/extension, pull requests merged in 2023-09, with the labels that each got.

#557 [Feat] Accounts Order
  packages/background/src/controllers/AccountTrackerController.ts
  packages/background/src/controllers/BlankController.ts
  packages/background/src/controllers/NetworkController.ts
  packages/background/src/utils/types/communication.ts
  packages/ui/src/assets/images/icons/filter.svg
  packages/ui/src/assets/images/icons/order.svg
  packages/ui/src/components/account/AccountFilters.tsx
  packages/ui/src/components/account/AccountMenu.tsx
  packages/ui/src/components/account/AccountSearchBar.tsx
  packages/ui/src/components/account/AccountSelect.tsx
  packages/ui/src/components/account/AccountsDisplayDragDrop.tsx
  packages/ui/src/components/button/ActionButton.tsx
  packages/ui/src/components/button/OrderButton.tsx
  packages/ui/src/components/icons/FilterIcon.tsx
  packages/ui/src/components/icons/OrderIcon.tsx
  packages/ui/src/components/icons/SearchIcon.tsx
  packages/ui/src/components/icons/ThreeDotsIcon.tsx
  packages/ui/src/components/transactions/AdvancedSettings.tsx
  packages/ui/src/components/ui/Dropdown/DropdownButton.tsx
  packages/ui/src/components/ui/Icon.tsx
  packages/ui/src/components/ui/OutlinedButton.tsx
  packages/ui/src/context/commActions.ts
  packages/ui/src/context/commTypes.ts
  packages/ui/src/router/routes.ts
  packages/ui/src/routes/account/AccountsOrderPage.tsx
  packages/ui/src/routes/account/AddAccountPage.tsx
  packages/ui/src/routes/account/AllowancesPage.tsx
  packages/ui/src/routes/account/CreateAccountPage.tsx
  packages/ui/src/routes/bridge/BridgeConfirmPage.tsx
  packages/ui/src/routes/swap/SwapConfirmPage.tsx
  packages/ui/src/util/hotkeys.ts
Labels: ui

#544 [Feat] Send page
  packages/ui/src/assets/images/icons/searchnotfound.svg
  packages/ui/src/components/account/AccountSearchResults.tsx
  packages/ui/src/components/input/SearchInput.tsx
  packages/ui/src/components/skeleton/SendPageLoadingSkeleton.tsx
  packages/ui/src/routes/send/SendPage.tsx
Labels: ui

#562 [Feat] Token balances
  packages/background/package.json
  packages/background/src/controllers/AccountTrackerController.ts
  packages/background/src/controllers/BlankController.ts
  packages/background/src/controllers/NetworkController.ts
  packages/background/src/controllers/PreferencesController.ts
  packages/background/src/controllers/erc-20/Token.ts
  packages/background/src/infrastructure/stores/migrator/migrations/index.ts
  packages/background/src/infrastructure/stores/migrator/migrations/migration-70.ts
  packages/background/src/utils/constants/initialState.ts
  packages/background/src/utils/types/communication.ts
  packages/background/test/infrastructure/stores/migrator/reconciler.test.ts
  packages/background/test/mocks/mock-preferences.ts
  packages/ui/src/assets/images/icons/accounts_order.svg
  packages/ui/src/assets/images/icons/assets_order.svg
  packages/ui/src/components/AssetsList.tsx
  packages/ui/src/components/account/AccountMenu.tsx
  packages/ui/src/components/assets/AssetSelection.tsx
  packages/ui/src/components/assets/AssetsButton.tsx
  packages/ui/src/components/assets/AssetsSort.tsx
  packages/ui/src/components/input/SearchInput.tsx
  packages/ui/src/components/token/TokenDisplayDragDrop.tsx
  packages/ui/src/context/commActions.ts
  packages/ui/src/context/commTypes.ts
  packages/ui/src/context/hooks/useOnMount.ts
  packages/ui/src/context/hooks/useTokensList.ts
  packages/ui/src/mock/MockBackgroundState.tsx
  packages/ui/src/router/routes.ts
  packages/ui/src/routes/tokens/TokensPage.tsx
  packages/ui/src/styles/index.css
  packages/ui/src/util/hooks/token/useTokenSearch.tsx
  packages/ui/src/util/hotkeys.ts
  packages/ui/src/util/tokenUtils.ts
Labels: background, ui

#574 [Automated] Extension release v1.1.7
  package.json
  public/manifest.json
  release-notes.json
Labels: automated, release
