Repository block-wallet/extension, pull requests merged in 2023-05, with the labels that each got.

#460 [Automated] Extension release v0.7.4
  package.json
  public/manifest.json
  release-notes.json
Labels: automated, release

#463 [Feat] Add address name to notifications
  packages/background/src/controllers/AccountTrackerController.ts
  packages/background/src/controllers/BlankController.ts
  packages/background/src/controllers/NotificationController.ts
Labels: enhancement, background

#475 [Automated] Extension release v0.7.5
  package.json
  public/manifest.json
  release-notes.json
Labels: automated, release

#482 [Automated] Extension release v1.0.0
  package.json
  public/manifest.json
  release-notes.json
Labels: automated, release

#489 [Automated] Extension release v1.0.1
  package.json
  public/manifest.json
  release-notes.json
Labels: automated, release

#461 [Feat] Onramper integration
  packages/background/src/controllers/BlankController.ts
  packages/background/src/controllers/NetworkController.ts
  packages/background/src/controllers/OnrampController.ts
  packages/background/src/utils/constants/currencies.json
  packages/background/src/utils/constants/initialState.ts
  packages/background/src/utils/currency.ts
  packages/background/src/utils/onrampApi.ts
  packages/background/src/utils/types/communication.ts
  packages/background/yarn.lock
  packages/ui/src/assets/images/icons/cash.svg
  packages/ui/src/assets/images/icons/onramper.svg
  packages/ui/src/assets/images/icons/wallet.json
  packages/ui/src/assets/images/icons/wallet.svg
  packages/ui/src/components/AnimatedIcon.tsx
  packages/ui/src/components/AssetsList.tsx
  packages/ui/src/components/CollapsableMessage.tsx
  packages/ui/src/components/FullCenterContainer.tsx
  packages/ui/src/components/account/AccountDisplay.tsx
  packages/ui/src/components/addressBook/AddressDisplay.tsx
  packages/ui/src/components/allowances/AllowanceItem.tsx
  packages/ui/src/components/assets/AssetDetailsPage.tsx
  packages/ui/src/components/assets/AssetDropdownDisplay.tsx
  packages/ui/src/components/chain/NetworkDisplayBadge.tsx
  packages/ui/src/components/currency/CurrencyDisplay.tsx
  packages/ui/src/components/currency/CurrencyDropdownDisplay.tsx
  packages/ui/src/components/currency/CurrencyList.tsx
  packages/ui/src/components/currency/CurrencySelection.tsx
  packages/ui/src/components/hotkeys/DisplayHotkey.tsx
  packages/ui/src/components/input/DropDownSelector.tsx
  packages/ui/src/components/token/TokenDisplay.tsx
  packages/ui/src/components/token/TokenDropdownDisplay.tsx
  packages/ui/src/components/token/TokenList.tsx
  packages/ui/src/components/token/TokenLogo.tsx
  packages/ui/src/components/token/TokenSelection.tsx
  packages/ui/src/components/transactions/TransactionItem.tsx
  packages/ui/src/context/commActions.ts
  packages/ui/src/context/commTypes.ts
  packages/ui/src/context/hooks/useSelectedNetwork.ts
  packages/ui/src/mock/MockBackgroundState.tsx
  packages/ui/src/router/routes.ts
  packages/ui/src/routes/PopupPage.tsx
  packages/ui/src/routes/buy/BuyPage.tsx
  packages/ui/src/routes/preferences/LocalePreferencesPage.tsx
  packages/ui/src/styles/classes.ts
  packages/ui/src/util/hotkeys.ts
  packages/ui/src/util/onrampUtils.ts
Labels: ui
