Repository block-wallet/extension, pull requests merged in 2023-01, with the labels that each got.

#310 [Fix] Password match validation msgs
  packages/ui/src/components/input/PasswordInput.tsx
  packages/ui/src/components/setup/SeedImport.tsx
  packages/ui/src/routes/setup/PasswordSetupPage.tsx
Labels: bug, ui

#319 [Feat] Update Scroll L1 and L2 endpoints
  packages/background/package.json
  packages/background/src/infrastructure/stores/migrator/migrations/index.ts
  packages/background/src/infrastructure/stores/migrator/migrations/migration-58.ts
  packages/background/src/utils/constants/networks.ts
  packages/background/yarn.lock
Labels: enhancement, background

#321 [Fix] Tx details new contract
  packages/ui/src/components/transactions/TransactionDetailsBasic.tsx
Labels: ui

#317 [Feat] Provider down modal UX improvement
  packages/background/src/controllers/NetworkController.ts
  packages/ui/src/components/dialog/ProviderDownDialog.tsx
  packages/ui/src/router/PopupRouter.tsx
  packages/ui/src/routes/networks/NetworkFormPage.tsx
Labels: enhancement, background, ui

#334 [Automated] Extension release v0.5.5
  package.json
  public/manifest.json
  release-notes.json
Labels: automated, release

#336 [Core] 1inch Custom API endpoint
  packages/background/src/utils/types/1inch.ts
Labels: background
